.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 20px 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.SideDrawerHeader {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  justify-items: start;
  grid-column-gap: 10px;
  align-items: center;
}

.UserInfo {
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
